/* Bootstrap */
.row {
    margin-top: 30px;
}
a {
    color: #695B7A;
    text-decoration: underline;
}
a:hover {
    color: #04667a;
}
small {
    color: #999;
    font-style: italic;
}

h1.section {
    color: #999;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: -1px;
}

#mingle {
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
}
#zendesk {
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
}
#beanstalk {
}

/* Metrics */
.simple {
    text-align:center;
}
.simple h1 {

}
.simple p {
    color: #999;
    font-size: 12px;
}

/* Panels */
.panel-default > .panel-heading {
    color: #04667a;
    background: none;
    font-weight: bold;
}
.panel .table thead tr th {
    font-size: 11px;
    color: #999;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight:normal;
    text-align: right;
    border: none;
}
.panel .table tbody tr td {
    font-size: 12px;
    padding-left: 15px;
    text-align: right;
}
.panel .table thead tr th:nth-child(1),
.panel .table tbody tr td:nth-child(1) {
    text-align:left;
}
.panel-default > .panel-footer {
    padding: 2px;
    background-color: #fff;
}
