<head>
    <title>Equation KPIs: Engineering</title>
</head>

<body>
<div class="container"
     ng-app="equationKPIs"
     ng-controller="EquationKPICtrl">

    <div class="row">
        <div class="col-md-6" ng-repeat="ticketType in tickets">
            <div class="panel panel-default">
                <div class="panel-heading">{{ticketType.name}}</div>
                <div class="panel-body">
                    <h2>{{ticketType.value}}</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Current Sprint</div>
                <table class="table">
                    <thead>
                    <th>Status</th>
                    <th>Cards</th>
                    </thead>
                    <tbody class="table-striped">
                    <tr ng-repeat="sprint in sprints">
                        <td>{{sprint.status}}</td>
                        <td>{{sprint.count}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Current Sprint by Owner</div>
                <table class="table">
                    <thead>
                    <th>Owner</th>
                    <th>Cards Complete</th>
                    </thead>
                    <tbody class="table-striped">
                    <tr ng-repeat="sprintOwner in sprintOwners">
                        <td>{{sprintOwner.owner}}</td>
                        <td>{{sprintOwner.count}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">YTD Sprints</div>
                <table class="table">
                    <thead>
                    <th>Sprint</th>
                    <th>Cards Complete</th>
                    </thead>
                    <tbody class="table-striped">
                    <tr ng-repeat="sprintYTD in sprintsYTD">
                        <td>{{sprintYTD.sprint}}</td>
                        <td>{{sprintYTD.count}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">YTD by Owner</div>
                <table class="table">
                    <thead>
                    <th>Owner</th>
                    <th>Cards Complete</th>
                    </thead>
                    <tbody class="table-striped">
                    <tr ng-repeat="sprintOwnerYTD in sprintOwnersYTD">
                        <td>{{sprintOwnerYTD.owner}}</td>
                        <td>{{sprintOwnerYTD.count}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Commit Feed</div>
                <table class="table">
                    <thead>
                    <th>Commit</th>
                    <th>Time</th>
                    <th>Author</th>
                    <th>Message</th>
                    </thead>
                    <tbody class="table-striped">
                    <tr ng-repeat="commit in commitFeed">
                        <td>{{commit.revision}}</td>
                        <td>{{commit.time}}</td>
                        <td>{{commit.author}}</td>
                        <td>{{commit.message}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
